<footer>

    <div class="reseaux">
        <a href="https://www.facebook.com/adorpro19" target="_blank">
            <img src="../../assets/facebook2.png" alt="Logo Facebook">
        </a>
        <a href="https://www.instagram.com/adorpro19" target="_blank">
            <img src="../../assets/instagram2.png" alt="Logo Instagram">        
        </a>
        <a href="https://fr.linkedin.com/company/ador-pro" target="_blank">
            <img src="../../assets/linkedin2.png" alt="Logo Linkedin">        
        </a>   
    </div>

    <hr id="ligne_bas">

    <div class="texte">
        <p>Contact</p>
        <p id="separator">|</p>
        <p><a class="nav-link" (click)="goToMentions()">Mentions légales</a></p>
    </div>

</footer>
