<section class="presentation">

    <div class="texte">
        <h1><span>ENTRETIEN, PROPRETÉ ET SERVICES AUX PROFESSIONNELS &nbsp;<i class="fi fi-sr-handshake"></i></span></h1>
        <img id="poignee" src="../../assets/service.png" alt="Logo service client">
        <h2 id="accroche">Votre spécialiste de l'entretien et de la propreté en Corrèze</h2>
        <p class="description">
            ❖ Un seul interlocuteur pour tous vos services<br>
            ❖ Un engagement pour des interventions rapides &nbsp;<i class="fi fi-sr-time-fast"></i><br>
            ❖ Une équipe à votre écoute<br>
            ❖ Des prestations sur mesure</p>
            <hr id="hr">
    </div>

    <div class="image">
        <img src="../../assets/voiture2.JPG" alt="voiture nettoyage">
    </div>

</section>

<div class="image-plaquette">
    <img src="../../assets/plaquette.png" alt="logo plaquette">
</div>

<div class="citation">
    <p><img src="../../assets/guillemet-deux.png">&nbsp;
        SI VOUS NE REMARQUEZ RIEN, C'EST QUE TOUT VA BIEN&nbsp;
        <img src="../../assets/guillemet-un.png"></p>
</div>

<img id="trait-bleu" src="../../assets/trait-bleu.png" alt="trait">

<section class="presentation-deux">

    <div class="texte-deux">
        <p class="subtitle"><span class="pro">PRO</span>preté<br>
            <span class="phrase"> Nettoyage et propreté de locaux professionnels et d’habitats collectifs</span>
        </p>
        <p class="subtitle"><span class="pro">PRO</span>ximité<br>
            <span class="phrase">Palette de services sur mesure pour répondre à vos besoins spécifiques</span>
        </p>
        <p class="subtitle"><span class="pro">PRO</span>fessionnels<br>
            <span class="phrase">Entretien des espaces verts et petit bricolage</span>
        </p>
    </div>

    <div class="bulle">
        <h3>CONSULTEZ-NOUS !</h3>
        <a class="nav-link" (click)="goToWho()"><p class="equipe jacques"><span>Jacques Roux et son équipe &nbsp;<i class="fi fi-sr-users-alt"></i></span></p></a>
        <p class="equipe ville"><i class="fi fi-sr-marker"></i><a href="https://maps.app.goo.gl/6MNHuDNP4bW5hRc69" title="Plan d'accès Ador Pro" target="_blank"> 28 rue Pierre Larenaudie, 19000 TULLE</a></p>
        <p class="equipe mail"><i class="fi fi-sr-envelope"></i><a href="mailto:adorpro19@gmail.com"> adorpro19@gmail.com</a></p>
        <p class="equipe tel"><i class="fi fi-sr-circle-phone"></i><a href="tel:0519980323"> 05 19 98 03 23</a> </p>
    </div>

    
</section>