<section class="presentation">

    <div class="texte">
        <h1><span>PROFESSIONNELS &nbsp;<i class="fi fi-sr-handshake"></i></span></h1>
        <h2>Nous sommes votre spécialiste de l'entretien et de la propreté sur le secteur de la Corrèze</h2>
        <p class="description">
            ❖ Un seul interlocuteur pour tous vos services<br>
            ❖ Un engagement pour des interventions rapides<br>
            ❖ Une équipe à votre écoute<br>
            ❖ Des prestations sur mesure</p>
            <hr>
    </div>
    
    <div class="image">
        <img src="../../assets/voiture2.JPG" alt="voiture nettoyage">
    </div>

</section>

<div class="image-plaquette">
    <img src="../../assets/image_plaquette.jpg" alt="logo plaquette">
</div>

<section class="presentation-deux">

    <div class="texte-deux">
        <p class="subtitle"><span class="pro">PRO</span>preté<br>
            <span class="phrase"> Nettoyage et propreté de locaux professionnels et d’habitats collectifs</span>
        </p>
        <p class="subtitle"><span class="pro">PRO</span>ximité<br>
            <span class="phrase">Palette de services sur mesure pour répondre à vos besoins spécifiques</span>
        </p>
        <p class="subtitle"><span class="pro">PRO</span>fessionnels<br>
            <span class="phrase">Entretien des espaces verts et petit bricolage</span>
        </p>
    </div>

</section>