
.presentation {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.texte {
    margin-top: 100px;
    color: rgb(43, 50, 91);
}


h1 span {
    background-color: rgb(202, 72, 65);
    color: white;
    padding: 12px 35px 12px 35px;
    border-radius: 30px;
    font-size: 19px;
    box-shadow: rgb(54, 53, 53) 3px 3px 10px;
}

.texte h2 {
    font-size: 22px;
    line-height: 55px;
}

.description {
    color : rgb(202, 72, 65);
    font-size: 24px;
    line-height: 60px;
}

.texte hr {
    height: 10px;
    background-color: rgb(0, 167, 157);
    opacity: 1;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}

.image img {
    width: 500px;
    object-fit: cover;
    margin-top: 110px;
    margin-left: 200px;
    border-radius: 15px;
    box-shadow: 20px -20px rgb(0, 167, 157);
}

/***** ANIMATION IMAGE *****/


/*.image img:hover {
    transform: scale(1.10);
    box-shadow: 20px -20px rgb(0, 167, 157);
    transition-duration: 0.8s;
}*/

.image-plaquette {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.image-plaquette img {
    width: 80%;
}

.presentation-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(110deg, #2b325b 60%, #ca4841 60%);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 35px 0px 18px 5px;
    font-family: 'Helvetica', sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

.pro {
    color: #2b325b;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin-right: 4px;
    font-weight: bold;
}

.phrase {
    font-size: 17px;
}

.subtitle {
    font-size: 28px;
    line-height: 32px;
}

.texte-deux {
    width: 45%;
    margin-left: 100px;
}

.bulle {
    width: 24%;
    margin-left: 80px;
    margin-right: 6%;
    font-size: 25px;
}

.bulle h3 {
    line-height: 60px;
}

.equipe {
    font-size: 19px;
    line-height: 20px;
}

.jacques span {
    background-color: white;
    color: #ca4841;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
}

.jacques {
    margin-bottom: 20px;
}

.citation {
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    color: #2b325b;
    margin-top: 80px;
    text-align: center;
}

#trait-bleu {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 80px;
    width: 800px;
}

.fitwo {
    image-orientation: revert;
}




/******* RESPONSIVE ORDINATEUR PETITE TAILLE *******/

@media screen and (min-width: 1413px) and (max-width: 1679px) {

    .texte {
        width: 55%;
    }

    .image {
        width: 45%;
    }

    h1 span {
      font-size: 17px;
    }

    .texte h2 {
        font-size: 17px;
    }

    .image img {
        width: 400px;
        margin-left: 120px;
        margin-top: 130px;
    }

    .description {
        font-size: 22px;
        line-height: 40px;
    }

    .subtitle {
        font-size: 25px;
        line-height: 30px;
    }

    .texte-deux {
        width: 50%;
        margin-left: 80px;
    }
    
    .bulle {
        width: 24%;
        margin-left: 80px;
        margin-right: 6%;
    }

    .bulle h3 {
        font-size: 22px;
        line-height: 55px;
    }
    
    .equipe {
        font-size: 17px;
        line-height: 18px;
    }

  }


  /******* RESPONSIVE TABLETTE *******/

  @media screen and (min-width: 1010px) and (max-width: 1412px) {

    .texte {
        width: 60%;
    }

    .image {
        width: 40%;
    }

    .image img {
        width: 300px;
        border-radius: 10px 100px / 120px;
        margin-top: 100px;
        margin-left: 60px;
        box-shadow: black 3px 5px 10px;
        border: 4px solid rgb(0, 167, 157);
    }

    .texte {
        margin-top: 80px;
    }

    .description {
        font-size: 18px;
        line-height: 30px;
    }

    h1 span {
        font-size: 14px;
        padding: 12px 15px 12px 15px;
    }

    .texte h2 {
        font-size: 15px;
    }

    .presentation-deux{
        background: linear-gradient(110deg, #2b325b 57%, #ca4841 57%);
    }

    .texte-deux {
        margin-left: 60px;
    }

    .subtitle {
        font-size: 25px;
    }

    .phrase {
        font-size: 15px;
    }

    .citation {
        font-size: 25px;
    }

    .subtitle {
        font-size: 25px;
        line-height: 30px;
    }

    .texte-deux {
        width: 50%;
        margin-left: 60px;
    }
    
    .bulle {
        margin-right: 4%;
        width: 30%;
    }

    .bulle h3 {
        font-size: 20px;
        line-height: 55px;
    }
    
    .equipe {
        font-size: 15px;
        line-height: 16px;
    }

  }



/******* RESPONSIVE MOBILE *******/

@media screen and (max-width: 1010px) {

    .presentation {
        flex-direction: column;
    }

    h1 span {
        font-size: 40%;
        padding: 10px 12px 10px 12px;
        border-radius: 6px;
    }

    .texte h2 {
        font-size: 14px;
    }

    .description {
        font-size: 14px;
        line-height: 22px;
    }

    .texte hr {
        height: 4px;
    }

    .texte {
        margin: auto;
        margin-top: 40px;
        color: rgb(43, 50, 91);
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-top: 0px;
        margin-left: 0;
        box-shadow: none;
        border-radius: 5px;
    }

    .image-plaquette {
        margin-top: 30px;
    }
    
    .image-plaquette img {
        width: 80%;
    }

    #trait-bleu {
        width: 40%;
        margin-bottom: 40px;
    }

    .citation {
        margin-top: 30px;
        font-size: 80%;
    }

    .citation img {
        width: 20px;
    }

    .presentation-deux {
        flex-direction: column;
        background: linear-gradient(170deg, #2b325b 60%, #ca4841 60%);
    }

    .texte-deux {
        width: 80%;
        margin-left: 0;
        text-align: left;
        margin: auto;
    }

    .pro {
        margin-right: 2px;
    }

    .subtitle {
        font-size: 19px;
    }

    .bulle {
        width: 80%;
        margin-left: 0;
        text-align: left;
        margin: auto;
    }

    .bulle h3 {
        margin-top: 40px;
        font-size: 18px;
        line-height: 45px;
    }

    .equipe {
        line-height: 12px;
        font-size: 14px;
    }

    .phrase {
        font-size: 14px;
    }
    
    .jacques span {
        padding: 8px 10px 8px 10px;
    }

  }

  @media screen and (max-width: 505px)  {

    .presentation {
        width: 92%;
    }

    .poignee {
        background-image: url(../../assets/poignee.png);
        background-repeat: no-repeat;
        border: 2px solid #ca4841;
        border-radius: 160px;
        margin: auto;
        margin-top: -20px;
        z-index: 999;
        width: 66px;
        height: 65px;
        box-shadow: black 2px 2px 10px;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    h1 span {
        font-size: 38%;
        padding: 10px 12px 10px 12px;
    }

    .citation {
        max-width: 80%;
        margin: auto;
        margin-top: 30px;
        text-align: center;
    }

    .texte h2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .fi-sr-handshake {
        display: none;
    }

    .image-plaquette img {
        width: 100%;
    }

    .presentation-deux {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .phrase {
        font-size: 12px;
    }

    #accroche {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .subtitle {
        margin-bottom: 30px;
        line-height: 0;
    }

    .pro {
        line-height: 40px;
    }

    .phrase {
        line-height: 20px;
    }

    .ville {
        line-height: 20px;
    }

  }
