
.navbar {
  display: none;
}

.navigation {
    font-family: 'Helvetica', sans-serif;
    position: relative;
    display: flex;
    flex-direction: row;
}

.logo img {
    position: absolute;
    width: 350px;
    top: 25px;
    left: 25px;
}

.menu {
    width: 45%;
    margin-left: 400px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu li {
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    color: rgb(43, 50, 91);
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 30px;
}

.menu li:hover {
    color: rgb(202, 72, 65);
    text-decoration: underline;
    text-underline-offset: -2.0rem;
    text-decoration-thickness: 2px;
}

#nav-line {
    height: 2px;
    background-color: rgb(202, 72, 65);
    opacity: 1;
    border: none;
    width: 80%;
    margin: auto;
}

/***** ANIMATION MENUS *****/

.menu {
	-webkit-animation: tracking-in-expand 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


  /******* RESPONSIVE TABLETTE *******/

@media screen and (min-width: 1010px) and (max-width: 1413px) {

  .menu {
    width: 58%;
    margin-left: 310px;
  }

    .menu li {
        font-size: 16px;
    }

    .logo img {
      position: absolute;
      width: 280px;
      top: 42px;
      left: 25px;
  }

}

/******* RESPONSIVE MOBILE *******/

@media screen and (max-width: 1010px) {

  .navbar {
    display: flex;
    background-color: white;
    height: 80px;
    border-bottom: 2px solid rgb(202, 72, 65);
  }

  .navigation {
    display: none;
  }

  #nav-line {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
  }

  .nav-menu a {
    text-decoration: none;
    color: rgb(202, 72, 65);
    margin-bottom: 15px;
  }

  #logo2 {
    width: 150px;
    margin-top: 0;
    margin-left: 0;
  }

  #logo-ador-pro {
    margin-left: 20px;
    width: 200px;
  }

  .nav-menu hr {
    margin-bottom: 30px;
    height: 1px;
    background-color: rgb(34, 32, 32);
    opacity: 1;
    border: none;
  }

  .btn-primary {
    margin-right: 20px;
    padding-top: 9px;
    border: none;
    background-color: rgb(202, 72, 65);
  }

  .offcanvas {
    width: 70%;
    max-width: 400px;
  }
}
