<div class="navigation">

    <div class="logo">
        <a class="home-link" href="http://localhost:4200/accueil">
            <img src="../../assets/ador_pro_logo.png" alt="logo Ador-Pro">
        </a>
    </div>

    <ul class="menu">
        <li><a class="nav-link" (click)="goToHome()">Accueil</a></li>
        <li><a class="nav-link" (click)="goToWho()">Qui sommes-nous ?</a></li>
        <li><a class="nav-link" (click)="goToPrestations()">Prestations</a></li>
        <li>Contact</li>
    </ul>

</div>

<hr id="nav-line">

<div class="navbar">
    <img id="logo-ador-pro" src="../../assets/ador_pro_logo.png" alt="logo Ador-Pro">

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="fi fi-sr-menu-burger"></i>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="nav-menu">
                <img id="logo2" src="../../assets/logo2.png" alt="Logo Ador PRO">
                <hr>
                <a class="nav-phone" (click)="goToHome()" data-bs-dismiss="offcanvas">
                    <i class="fi fi-sr-home"></i>&nbsp;&nbsp;Accueil
                </a>
                <a class="nav-phone" (click)="goToWho()" data-bs-dismiss="offcanvas">
                    <i class="fi fi-sr-person-circle-question"></i>&nbsp;&nbsp;Qui sommes-nous ?
                </a>
                <a a class="nav-phone" (click)="goToPrestations()" data-bs-dismiss="offcanvas">
                    <i class="fi fi-sr-broom"></i>&nbsp;&nbsp;Prestations
                </a>
                <a href="#">
                    <i class="fi fi-sr-phone-call"></i>&nbsp;&nbsp;Contact
                </a>
            </div>
        </div>
    </div>
</div>

