<app-nav></app-nav>

<section class="prestations">

    <h1 id="titre">Prestations&nbsp;&nbsp;<i class="fi fi-sr-memo-circle-check"></i></h1>
    <img id="trait-bleu" src="../../assets/trait-bleu.png" alt="Trait bleu">

    <div class="intro">
        <h1 id="vous-etes">Vous êtes...</h1>

        <div class="cards">
            <p class="client client1"><i class="fi fi-sr-city"></i>PROPRIÉTAIRE ET/OU <br>GESTIONNAIRE DE COPROPRIÉTÉS</p>
            <p class="client client2"><i class="fi fi-sr-users-alt"></i>UNE ENTREPRISE TERTIAIRE, <br>PROFESSION LIBÉRALE OU UNE COLLECTIVITÉ</p>
            <p class="client client3"><i class="fi fi-sr-store-alt"></i>PROFESSIONNEL, COMMERCANT, <br>ARTISAN, INDUSTRIEL</p>
        </div>

        <p id="panel">
            <img id="presta" src="../../assets/maison.png" style="width: 40px; height: 40px;">
            <span><img id="liste" src="../../assets/liste.png" alt="Logo liste">Nous vous proposons un panel complet de services d’entretien et de propreté</span>
        </p>

        <div class="cards-two">
            <div class="services">
                <h2><span>Entretien courant &nbsp;<i id="calendrier" class="fi fi-sr-calendar-check"></i></span></h2>
                <p>Contrat annuel sur-mesure. <br>Vous faites appel régulièrement à nous pour : </p>
                <hr>
                <p class="activites"><i class="fi fi-sr-soap-alt"></i>&nbsp;&nbsp;Nettoyage toutes surfaces</p>
                <p class="activites"><i class="fi fi-sr-vacuum"></i>&nbsp;&nbsp;Entretien sols et parties communes</p>
                <p class="activites"><i class="fi fi-sr-shower"></i>&nbsp;&nbsp;Entretien sanitaires</p>
                <p class="activites"><i class="fi fi-sr-tree-deciduous"></i>&nbsp;&nbsp;Entretien espaces verts</p>
            </div>
            <div class="services">
                <h2><span>Interventions ponctuelles &nbsp;<i id="horloge" class="fi fi-sr-user-time"></i></span></h2>
                <p>Un imprévu ? Un besoin exceptionnel ? <br>Faites appel à notre équipe pour : </p>
                <hr>
                <p class="activites"><i class="fi fi-sr-soap-alt"></i>&nbsp;&nbsp;Nettoyage toutes surfaces</p>
                <p class="activites"><i class="fi fi-sr-tools"></i>&nbsp;&nbsp;Petits travaux de réparation</p>
                <p class="activites"><i class="fi fi-sr-bench-tree"></i>&nbsp;&nbsp;Entretien des extérieurs</p>
            </div>
            <div class="services">
                <h2><span>Services spécifiques &nbsp;<i id="cible" class="fi fi-sr-target"></i></span></h2>
                <p>Notre entreprise est spécialisée dans les services aux entreprises. <br>N’hésitez pas à nous solliciter pour : </p>
                <hr>
                <p class="activites"><i class="fi fi-sr-person-dolly"></i>&nbsp;&nbsp;Livraisons. Débarras cave, grenier...</p>
                <p class="activites"><i class="fi fi-sr-key"></i>&nbsp;&nbsp;Remise en état appartements, locaux</p>
                <p class="activites"><i class="fi fi-sr-utensils"></i>&nbsp;&nbsp;Service repas en entreprise</p>
                <p class="activites"><i class="fi fi-sr-snowflakes"></i>&nbsp;&nbsp;Travaux saisonniers</p>
            </div>
        </div>

        
    </div>

</section>

<app-footer></app-footer>