
.prestations {
    font-family: 'Helvetica', sans-serif;
    width: 80%;
    margin: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

#titre {
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}

#trait-bleu {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 80px;
    width: 320px;
}


h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: #2b325b;
    font-size: 27px;
}

.cards {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.client {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    background-color: #2b325b;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgb(36, 36, 36) 2px 2px 10px;
}

.client i {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#panel {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    color: white;
}

#liste {
    position: absolute;
    top: -18px;
    right: -20px;
    width: 80px;
}

#panel span {
    position: relative;
    background-color: #ca4841;
    padding: 10px 70px 10px 30px;
    border-radius: 30px;
}

.client i {
    margin-right: 15px;
    font-size: 38px;
    color: #ca4841;
}

.cards-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    background: linear-gradient(170deg, #00a79d 57%, #ca4841 57%);
    padding: 30px;
    border-radius: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h2 span {
    font-size: 20px;
    background-color: #ca4841;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

#calendrier, #horloge, #cible {
    color: white;
}

.services {
    width: 26%;
    background-color: #c5c6cc;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid white;
}

.services i {
    font-size: 22px;
    color: #ca4841;
}

/***** ANIMATION TEXTE *****/

#titre {
	-webkit-animation: slide-in-top 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#trait-bleu {
	-webkit-animation: slide-in-top 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#vous-etes {
	-webkit-animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.client1 {
	-webkit-animation: slide-in-top 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.client2{
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.client3{
	-webkit-animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#panel{
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cards-two{
	-webkit-animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }


/****** RESPONSIVE TABLETTE ******/

  @media screen and (min-width: 930px) and (max-width: 1385px) {
  
    .client {
        font-size: 14px;
    }

    #panel {
        font-size: 18px;
    }

    h2 span {
        font-size: 18px;
        padding: 8px 15px 8px 15px;
    }

    #liste {
        width: 70px;
    }

    .services {
        width: 30%;
        font-size: 15px;
    }

}

@media screen and (max-width: 929px) {

    .client {
        width: 32%;
        font-size: 12px;
    }

    .client i {
        font-size: 25px;
        margin-left: 8px;
    }

    .cards {
        justify-content: space-between;
    }

    #panel {
        font-size: 15px;
    }

    #panel span {
        padding: 10px 58px 10px 15px;
    }

    h2 span {
        font-size: 16px;
        padding: 6px 12px 6px 12px;
    }

    #liste {
        width: 55px;
        top: -10px;
        right: 0px;
    }

    .services {
        width: 32%;
        font-size: 13px;
    }
}

@media screen and (max-width: 740px) {

    #titre {
        margin-top: 40px;
        font-size: 20px;
    }

    #trait-bleu {
        width: 180px;
        margin-bottom: 30px;
    }

    #panel {
        background-color: #ca4841;
        margin: auto;
        margin-top: 50px;
        padding: 15px;
        width: 90%;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border: 1px solid rgb(0, 0, 0);
    }

    #panel span {
        background: none;
        padding: 10px;
    }

    #liste {
        display: none;
    }

    .intro {
        margin-top: 50px;
    }

    h1 {
        font-size: 20px;
    }

    .cards {
        flex-direction: column;
        margin-top: 5px;
    }

    .client {
        width: 90%;
        margin: auto;
        margin-top: 18px;
    }

    .cards-two {
        margin-top: 50px;
        padding: 15px;
        flex-direction: column;
    }

    .services {
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }

    h2 span {
        font-size: 14px;
    }

    #calendrier, #horloge, #cible {
        font-size: 17px;
    }

}
