
.who {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    color: rgb(43, 50, 91);
}

#trait {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 80px;
    width: 350px;
}

#titre {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: rgb(43, 50, 91);
    margin-bottom: 20px;
}

.fi-sr-cloud-question {
    font-size: 30px;
    margin-top: 5px;
}

#logo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 280px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#span1 {
    font-weight: bold;
    color: rgb(0, 167, 157);
}

#span2 {
    font-weight: bold;
    color: #ca4841;
}

#span3 {
    font-weight: bold;
    color: rgb(43, 50, 91);
}

#p1 a {
    color: rgb(43, 50, 91);
    text-decoration: none;
}

#p1 a:hover {
    color: #ca4841;
}

.gerants {
    width: 70%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
}

.gerants span {
    color: white;
    background-color: rgb(43, 50, 91);
    padding: 7px 14px 7px 14px;
    border-radius: 10px;
    line-height: 30px;
}

.gerants img {
    width: 150px;
    border: 4px solid #ca4841;
    border-radius: 25px;
    margin-top: 10px;
    box-shadow: black 2px 2px 10px;
}

.infos {
    line-height: 8px;
}


/***** ANIMATION TEXTE *****/

#titre {
	-webkit-animation: slide-in-top 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#trait {
	-webkit-animation: slide-in-top 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#p1 {
	-webkit-animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#p2 {
	-webkit-animation: slide-in-top 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#p3 {
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#p4 {
	-webkit-animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#p5 {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#p6 {
	-webkit-animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#p7 {
	-webkit-animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }


  /***** RESPONSIVE TABLETTE TELEPHONE *****/

  @media screen and (min-width: 600px) and (max-width: 1010px) {

    .who {
        font-size: 18px;
        margin-top: 80px;
    }
    
    #trait {
        margin-bottom: 60px;
        width: 320px;
    }
    
    #titre {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .gerants {
        width: 100%;
        margin-top: 80px;
        font-size: 16px;
        justify-content: space-between;
    }

  }

  /**** RESPONSIVE TELEPHONE ****/

  @media screen and (max-width: 600px) {

    .who {
        font-size: 15px;
        margin-top: 40px;
    }
    
    #trait {
        margin-bottom: 40px;
        width: 240px;
    }
    
    #titre {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #logo {
        width: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #p1 a {
        white-space: nowrap;
    }

    .gerants {
        width: 100%;
        margin-top: 60px;
        font-size: 14px;
        flex-direction: column;
    }

    .gerants img {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 140px;
        margin-top: 25px;
    }

    .gerants span {
        line-height: 10px;
    }

    .nom {
        display: flex;
        justify-content: center;
    }

    .bertrand {
        margin: auto;
    }

    .jacques {
        margin: auto;
    }

    #separateur-jacques, #separateur-bertrand {
        width: 90%;
        height: 1px;
        margin: auto;
        margin-bottom: 25px;
        opacity: 1;
        background-color: rgb(43, 50, 91);
        border: none;
    }

    #separateur-bertrand {
        margin-top: 60px;
    }
  }