<app-nav></app-nav>

<section class="who">

    <p id="titre">Qui sommes-nous &nbsp;<i class="fi fi-sr-cloud-question"></i></p>

    <img id="trait" src="../../assets/trait.png" alt="trait">

    <p id="p1">Voilà maintenant 16 ans que nous sommes installés sur Tulle, au service des particuliers, sous l'enseigne <strong>AGE D'OR services</strong>.</p>

    <p id="p2">La confiance et la fidélité de nos clients nous ont propulsé à la place qui est la nôtre aujourd’hui pour les travaux de ménage, de grands « nettoyages de printemps », de l’entretien d’espaces verts, de la livraison de repas, bref, du service aux particuliers.</p> 
        
    <p id="p3">Vous étiez nombreux, gestionnaires de copropriétés, chefs d’entreprises, professions libérales, collectivités, associations, artisans ou commerçants, propriétaires d’une S.C.I., …, à nous solliciter pour l’entretien et la propreté de vos locaux et de vos extérieurs.</p>
        
    <p id="p4">Aussi, forts de notre expérience, nous avons décidé, en 2018, de créer une nouvelle entreprise au service des professionnels : <br><img id="logo" src="../../assets/ador_pro_logo.png" alt="logo Ador-Pro"></p>
        
    <p id="p5"><strong>ADOR PRO</strong>, c’est, pour vous, l’assurance d’un service de <span id="span1">Pro</span>-ximité, dédié aux <span id="span2">Pro</span>-fessionnels, afin de vous garantir la <span id="span3">Pro</span>-preté de vos locaux et de vos extérieurs.</p>
        
    <p id="p6">Contactez-nous pour un devis gratuit !</p>

    <p id="p7">À très bientôt,</p>

    <div class="gerants">
        <div class="jacques">
            <p><span>Jacques ROUX</span></p>
            <p class="infos">Gérant</p>
            <p class="infos"><i class="fi fi-sr-envelope"></i> adorpro19@gmail.com</p>
            <img src="../../assets/portrait-jacques.jpg">
        </div>
        <div class="bertrand">
            <p><span>Bertrand KOVALSKI</span></p>
            <p class="infos">Responsable de secteur</p>
            <p class="infos"><i class="fi fi-sr-circle-phone"></i> 06 73 93 75 46</p>
            <img src="../../assets/portrait-bertrand.jpg">
        </div>
    </div>

</section>

<app-footer></app-footer>
